<a href="https://colab.research.google.com/github/Doria31/Python-ML-Big-Data-/blob/main/Estructura_de_datos_con_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Estructura de Datos**

## Listas:

In [ ]:
#Listas

lista = [1,2,3,4,5] #Lista homogenea
print(lista)

lista2 = [20, True, "Soy en texto dentro de una lista"] #Lista heterogena. La posición se le de 0 a n-1
print(lista2)

print(lista2[1]) #Imprime el cotenido de la lista en la posición 1
lista2[0] = 50
print(lista2)

### Metodos:

In [3]:
#Metodo Append
lista_nueva = [1, 2, 3, 4, 5]
lista_nueva.append(6) #Agrega el valor a la ultima posición de la lista.
print(lista_nueva)

#Metodo Count
print(lista_nueva.count(6)) #Devuelve la cantidad de veces que se repite un valor dentro de la lista

#Metodo Index
print(lista_nueva.index(4)) #Muestra la primera posición del elemento dentro la lista

#Meotodo Remove
lista_nueva.remove(6) #Elimina la primera aparición de un elemento dentro de una lista
print(lista_nueva)

[1, 2, 3, 4, 5, 6]
1
3
[1, 2, 3, 4, 5]

## Tuplas:

In [6]:
tupla = (1,2,3) #Tupla homogenea
print(tupla)
print((1, ))

tupla2 = (5, False, "Soy en texto dentro de una tupla", True) #Tupla heterogena. La posición se le de 0 a n-1
print(tupla2)

print(tupla2[0]) #Acceder al contenido de un tupla

(1, 2, 3)
(1,)
(5, False, 'Soy en texto dentro de una tupla', True)
5

### Metodos:

In [ ]:
#Count
print(tupla2.count(False)) #Devuelve la cantidad de veces que se repite un valor dentro de la tupla

#Index
print(tupla2.index(5)) #Muestra la primera posición del elemento dentro la tupla

## Conjuntos:

In [11]:
set( ) #Construir conjuntos
#No muestra elementos repetidos de la lista del conjunto
conjunto = set([1, 2, 3, 4, 5])
print(conjunto)

print(set([1, 2, 3]))
print(set([2, 3, 4, 4]))
print(set("Hola")) #Un string lo obtiene como un conjunto de char, python lo interpreta como  una lista de caracteres desordenada

{1, 2, 3, 4, 5}
{1, 2, 3}
{2, 3, 4}
{'l', 'H', 'o', 'a'}

### Metodos:

In [ ]:
#Metodo Add
#Podemos añadir elementos al conjunto

conjunto.add(0)
print(conjunto)

#Metodo remove
#Elimina elementos del conjunto
conjunto.remove(0)
print(conjunto)

### Operaciones con conjuntos

In [ ]:
#Intersección
conjunto_A = set([2, 4, 5, 7, 10, 12])
conjunto_B = set([1, 3, 7])

print(conjunto, conjunto_A, conjunto_B)

#Intersección
print(conjunto.intersection(conjunto_A)) #Aplicamos la intersección entre conjuntos y este imprime los valores que son comunes

print(conjunto & conjunto_A) #Otra forma de realizar la intesección

#Union
print(conjunto_A.union(conjunto))

print(conjunto_A | conjunto) #Aplicando la union con el simbolo |

#Diferencia
print(conjunto_A.difference(conjunto_B))

print(conjunto_A - conjunto_B) #Aplicando la diferencia con el simbolo -

#Diferencia simetrica
print(conjunto_A.symmetric_difference(conjunto_B))

print(conjunto_A ^ conjunto_B)

## Diccionarios:
{key: value}
* No son ordenados
* Son heterogeneos con clave inmutable {(1, 2): ["uno", "dos"], 1: "uno"}

In [20]:
{} #adicionar vacio
diccionario = {1: "uno", 2: "dos"} #Creamos el diccionario con clave y valor separados por comas
print(diccionario)

#Podemos ver el valor de una clave usando corchetes
print(diccionario[2])

#Podemos cambiar el valor de una Key usando el simbolo =
diccionario[3] = "tres"
print(diccionario)

#Podemos crear diccionarios utilizando la propiedad dict

dict_lista_tupla = dict([(1, "uno"), (2, "dos"), (3, "tres")])
print(dict_lista_tupla)

#Cuando las key son tipo string escribimos los datos con =
dict_lista_string = dict(uno = 1, dos = 2, tres = 3)
print(dict_lista_string)

#En el diccionario se pueden usar varios tipos de datos
dict_datos = {1: "integer", 2.2: "float", "tres": "string", (1, 2): "tupla"}
print(dict_datos)

#Las key siempre deber ser unicas, en caso de repetirla solo se tomará el ultimo valor asignado
dict_repetido = {1: "uno", 1: "dos"}
print(dict_repetido)

{1: 'uno', 2: 'dos'}
dos
{1: 'uno', 2: 'dos', 3: 'tres'}
{1: 'uno', 2: 'dos', 3: 'tres'}
{'uno': 1, 'dos': 2, 'tres': 3}
{1: 'integer', 2.2: 'float', 'tres': 'string', (1, 2): 'tupla'}
{1: 'dos'}

### Metodos:

In [21]:
#Keys = devuelve una lista con las claves
print(diccionario.keys())

#Values = devuelve una lista con los valores
print(diccionario.values())

#Pop = para eliminar una clave y valor
diccionario.pop(2)
print(diccionario)

#Clear = elimina todos los elementos del diccionario
diccionario.clear()
print(diccionario)

dict_keys([1, 2, 3])
dict_values(['uno', 'dos', 'tres'])
{1: 'uno', 3: 'tres'}
{}