# **Ejercicios Pandas**

5) Generar nuevas columnas segun sean requeridas para completar la informacion obtenida.

6) Exportar el trabajo realizado en los ateriores items a un archivo de excel.

1) Leer la siguiente URL y conocer su informacion principal, mediante el uso los atributos y metodos necesarios de pandas.

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/rubisabel00/ciencias-de-datos-Sena/main/DocumentosNB03/clientes.csv'
dataclientesURL = pd.read_csv(url, encoding='UTF-8', index_col=0)
dataclientesURL.info()
dataclientesURL.head()

2) Realizar una descripcion estadistica de la informacion encontrada y normalizarla (Eliminar los null).

In [ ]:
dataclientesURL.describe()

clientesNoNulls = dataclientesURL.dropna()

clientesNoNulls

In [35]:
#Exportación
clientesNoNulls.to_csv('./datos_pandas/clientesNoNulls.csv', index=False)

3) Generar una grafica representativa de la informacion obtenida.

In [ ]:
clientesNoNulls.plot()

In [37]:
clientesNoNulls

,Nombre,Última fecha de compra,Frecuencia de compra,Valor promedio de la compra,Categoría de productos comprados,Método de pago,Edad
ID del cliente,,,,,,,
1,Juan Perez,15/03/2022,5,200.5,Ropa,Tarjeta de crédito,32.0
2,Ana Rodriguez,01/04/2022,2,80.0,Juguetes,Efectivo,45.0
3,Luisa Hernandez,10/12/2021,3,150.2,Electrónica,Transferencia bancaria,28.0
4,Carlos Garcia,28/02/2022,1,300.0,Alimentos,Tarjeta de crédito,50.0
5,Maria Gomez,20/03/2022,4,75.8,Ropa,Efectivo,22.0
...,...,...,...,...,...,...,...
160,Andrea Soto,09/06/2022,2,50.0,Electrónica,Transferencia bancaria,25.0
161,Laura Hernandez,06/06/2022,1,120.0,Alimentos,Efectivo,39.0
145,Luis Garcia,04/06/2022,4,75.2,Alimentos,Transferencia bancaria,28.0
154,Luisa Perez,08/06/2022,2,80.0,Ropa,Transferencia bancaria,33.0
160,Andrea Soto,09/06/2022,2,50.0,Electrónica,Transferencia bancaria,25.0

4) Generar dos consultas de agrupamiento de valor agregado a la informacion obtenida.

In [ ]:
# 1. Agrupamiento por Categoría de productos comprados y promedio de valor promedio de la compra 
agrupado_categoria = clientesNoNulls.groupby('Categoría de productos comprados').agg({'Valor promedio de la compra': 'mean'})

agrupado_categoria

In [34]:
#Exportación
agrupado_categoria.to_csv('./datos_pandas/agrupado_categoria.csv', index=False)

In [ ]:
# 2.Agrupar por el método de pago y calcular cuántos clientes utilizan cada tipo de pago
agrupado_metodpago = clientesNoNulls.groupby('Método de pago').agg({'ID del cliente': 'count'})

agrupado_metodpago

In [ ]:
#Exportación
agrupado_metodpago.to_csv('./datos_pandas/agrupado_metodpago.csv', index=False)

5) Generar nuevas columnas segun sean requeridas para completar la informacion obtenida.

In [ ]:
# Creamos la tabla dinámica
pivot_clientes = clientesNoNulls.pivot_table(
    values='Valor promedio de la compra',
    index='Método de pago', 
    columns='Categoría de productos comprados', 
    aggfunc='mean',  
    fill_value=0, 
    margins=True,  
    margins_name='Total'  
)

print(pivot_clientes)

In [48]:
#Exportación
pivot_clientes.to_csv('./datos_pandas/pivot_clientes.csv', index=False)